<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- 核心配置文件-->
<configuration>
    <!--    设置日志-->
    <settings>
        <!--        标准的日志工厂-->
        <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--        实现LOG4J-->
        <setting name="logImpl" value="LOG4J"/>
        <!--        开启驼峰明明与经典数据库名称之间的转换-->
        <!--                       mapUnderscoreToCamelCase-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        缓存,默认开启,这里是显式声明,让别人知道你开启了全局缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>


</configuration>