<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    管理总的spring配置-->

    <!--
    context  导入db文件
    p c  命名空间
    tx 声明式事务管理
    aop 切入
    -->

    <!--    导入-->
    <!--导入设置数据库-->
    <import resource="spring/SpringDao.xml"/>
    <!--导入操作aop-->
    <import resource="spring/SpringAop.xml"/>
    <!--导SpringMVC的配置-->
    <import resource="spring/SpringMVC.xml"/>


</beans>