<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- 核心配置文件-->
<configuration>
    <!--    可以有多套环境,更改环境时只需更改default即可-->

    <!-- 引用外部配置文件-->
    <properties resource="db.properties"/>

    <!--    设置日志-->
    <settings>
        <!--        标准的日志工厂-->
        <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--        实现LOG4J-->
        <setting name="logImpl" value="LOG4J"/>
        <!--        开启驼峰明明与经典数据库名称之间的转换-->
        <!--                       mapUnderscoreToCamelCase-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--    注册mapper-->
    <mappers>
        <!--        绑定配置文件-->
        <!--        注意这里不能使用通配符-->
        <mapper resource="com/zhang/dao/UserMapper.xml"/>
        <mapper resource="com/zhang/dao/StudentMapper.xml"/>
        <mapper resource="com/zhang/dao/TeacherMapper.xml"/>
        <mapper resource="com/zhang/dao/BlogMapper.xml"/>
    </mappers>
</configuration>