<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 绑定一个对应的dao接口-->


<mapper namespace="com.zhang.dao.UserMapper">
    <!--    在当前mapper中使用二级缓存-->
    <!--    1.缓存方式,第一次读入和第一次读出 2.自动刷新时间60秒 3.缓存池最多缓存数据大小512 4,只读-->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <resultMap id="UserMap" type="com.zhang.pojo.User">
        <result column="password" property="pwd"/>
    </resultMap>

    <!-- 查询全部-->
    <select id="getUserList" resultType="com.zhang.pojo.User">
        select *
        from user
    </select>

    <!--    根据参数查询-->
    <select id="getUserById" parameterType="int" resultType="com.zhang.pojo.User">
        select *
        from user
        where id = #{id}
    </select>

    <!--    插入一个用户-->
    <insert id="addUser" parameterType="com.zhang.pojo.User">
        insert into user (id, name, password, email, birthday)
        VALUES (#{id}, #{name}, #{password}, #{email}, #{birthday})
    </insert>

    <!--    更新用户-->
    <update id="updateUser" parameterType="com.zhang.pojo.User">
        update user
        set name=#{name},
            password=#{password},
            email=#{email},
            birthday=#{birthday}
        where id = #{id}
    </update>

    <!--    删除用户-->
    <delete id="delUserById" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>

    <!--    万能的map-->
    <insert id="useMap" parameterType="map">
        insert into user (id, name, password, email, birthday)
        values (#{userId}, #{name}, #{passWord}, #{email}, #{birthday})
    </insert>

    <!--    模糊查询-->
    <select id="getUserByName" parameterType="string" resultType="com.zhang.pojo.User">
        select *
        from user
        where name like #{name}
    </select>

    <!--    实现分页-->
    <select id="getUserByPage" resultMap="UserMap" parameterType="map">
        select *
        from user limit #{start}, #{size}
    </select>

</mapper>

